/css
/css (1).zip
/desktop.ini
/Discord.lnk
/GitHub Desktop.lnk
/m.txt
/Meu portal de notícias_files
/Microsoft Edge.lnk
/Navegador Opera GX.lnk
/Rockstar Games Launcher.lnk
/Tor Browser
/Twitch Studio.lnk
/Visual Studio Code.lnk
/µTorrent.lnk